{% extends 'recording/base.html' %}
{% load playback_recording %}


{% block title %}
  NChant
{% endblock %}

{% block header %}
<div class="container">
<div class="row">
  <div class="col-md-4"> <h1>NChant</h1> </div>
  <br/>
  <div class="col-md-2 ">
    <button type="button" id="create" data-loading-text="adding..." class="btn btn-info btn-lg" data-toggle="modal" data-target="#newSeed">
        <span class="glyphicon glyphicon-plus"></span> New Seed
    </button>
  </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <!-- New Seed -->
    <div class="modal fade" id="newSeed" tabindex="-1" role="dialog" aria-labelledby="newRecordLabel">
    </div>
    <!-- New Record Modal -->
  <div class="modal fade" id="newRecord" tabindex="-1" role="dialog" aria-labelledby="newRecordLabel">
  </div>
  <!-- alert message -->
  <div class="alert alert-success alert-dismissible fade show" id="success-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
      <strong>Success! </strong> Added successfully!.
  </div>

  <div class="alert alert-danger alert-dismissible fade show" id="faild-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
      <strong >Faild!</strong> <p id="faild-mes"></p>
  </div>

  <div>
  {% if recording_list %}
        {% for voice in recording_list %}
        <h3>{{voice.title}}</h3>
    <audio controls
      data-info-album-art="{{ voice.image.url }}"
      data-info-album-title="{{voice.description}}"
      data-info-artist="{{voice.initiator}}"
      data-info-title="{{voice.title}}"
      data-info-label="{{voice.count}}"
      data-info-year="{{voice.pub_date}}"
      data-info-record="{{ voice.id }}"
      data-info-seed="{{ voice.seed.url }}"
      data-info-collective="{{ voice.collective.url }}"
      src="{{ voice.collective.url }}?cd={% now 'SHORT_DATETIME_FORMAT' %}" type="audio/mpeg">
    </audio>
    <br />
    {% endfor %}
    {% else %}
    <p>No record are available</p>
  {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
var voice_id = 0
var seed = ""
var collective = ""
var new_rec = ""

  /*
  RecordJs:
  record audio on the brower
  */
//webkitURL is deprecated but nevertheless
URL = window.URL || window.webkitURL;

var gumStream;            //stream from getUserMedia()
var rec;              //Recorder.js object
var input;              //MediaStreamAudioSourceNode we'll be recording

// shim for AudioContext when it's not avb. 
var AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext //audio context to help us record

/********************************getUserMedia Acccess************************************/
function getMediaAccess(){
  /*
    Simple constraints object, for more advanced audio features see
    https://addpipe.com/blog/audio-constraints-getusermedia/
  */
    
    var constraints = { audio: true, video:false }

  /*
      We're using the standard promise based getUserMedia() 
      https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
  */

  navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
    console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
  });
}

/********************************startRecording************************************/
function startRecording(recordButton, stopButton) {
  console.log("recordButton clicked");

  /*
    Simple constraints object, for more advanced audio features see
    https://addpipe.com/blog/audio-constraints-getusermedia/
  */
    
    var constraints = { audio: true, video:false }

  /*
      Disable the record button until we get a success or fail from getUserMedia() 
  */

    recordButton.disabled = true;
    stopButton.disabled = false;
  // pauseButton.disabled = false

  /*
      We're using the standard promise based getUserMedia() 
      https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
  */

  navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
    console.log("getUserMedia() success, stream created, initializing Recorder.js ...");

    /*
      create an audio context after getUserMedia is called
      sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
      the sampleRate defaults to the one set in your OS for your playback device
    */
    audioContext = new AudioContext();

    //update the format 
    // document.getElementById("formats").innerHTML="Format: 1 channel pcm @ "+audioContext.sampleRate/1000+"kHz"

    /*  assign to gumStream for later use  */
    gumStream = stream;
    
    /* use the stream */
    input = audioContext.createMediaStreamSource(stream);

    /* 
      Create the Recorder object and configure to record mono sound (1 channel)
      Recording 2 channels  will double the file size
    */
    rec = new Recorder(input,{numChannels:2})

    //start the recording process
    rec.record()

    console.log("Recording started");

  }).catch(function(err) {
      //enable the record button if getUserMedia() fails
      recordButton.disabled = false;
      stopButton.disabled = true;
      //pauseButton.disabled = true
  });
}

/********************************stopRecording************************************/
function stopRecording(recordButton, stopButton) {
  console.log("stopButton clicked");

  //disable the stop button, enable the record too allow for new recordings
  stopButton.disabled = true;
  recordButton.disabled = false;
  // pauseButton.disabled = true;

  //reset button just in case the recording is stopped while paused
  // pauseButton.innerHTML="Pause";
  
  //tell the recorder to stop the recording
  rec.stop();

  //stop microphone access
  gumStream.getAudioTracks()[0].stop();

  //create the wav blob and pass it on to createDownloadLink
  rec.exportWAV(createDownloadLink);
}

/********************************createDownloadLink************************************/
function createDownloadLink(blob) {
  
  var url = URL.createObjectURL(blob);
  var au = document.createElement('audio');
  var li = document.createElement('li');
  var link = document.createElement('a');

  //name of .wav file to use during upload and download (without extendion)
  var filename = new Date().toISOString();

  //add controls to the <audio> element
  au.controls = true;
  au.src = url;

  //save to disk link
  link.href = url;
  link.download = filename+".wav"; //download forces the browser to donwload the file using the  filename
  // link.innerHTML = "Save to disk";

  //add the new audio element to li
  li.appendChild(au);
  
  //add the filename to the li
  li.appendChild(document.createTextNode(filename+".wav "))

  //add the save to disk link to li
  li.appendChild(link);

  //add the li element to the ol
  recordingsList.appendChild(li);
}



/*
**
**
Add new Recordings
*/
/********************************Load new_rec.html************************************/
// start & stop buttons
var start_rec;
var stop_rec;

$(".rec_modal").on('click', function() {
  getMediaAccess()
  voice_id = parseInt(this.id, 10)
  seed = this.getAttribute('seed')
  collective = this.getAttribute('collective')
  //load page
  $("#newRecord").load("new_rec", function(){
    start_rec = document.getElementById("start_rec");
    stop_rec = document.getElementById("stop_rec");
    // var pauseButton = document.getElementById("pauseButton");

    //add events to those 2 buttons
    start_rec.addEventListener("click", play_rec);
    stop_rec.addEventListener("click", stopRecording);
  });
});

/**************************** playback and recording ******************************/


function play_rec(){

  // get relative values
  var e = document.getElementById("follow")
  var text = e.options[e.selectedIndex].text
  var value = e.options[e.selectedIndex].value
  // get the source
  var fol_source
  if(text=="SEED"){
    fol_source = seed
  }else{
    fol_source = collective
  }
  // new audio object
  var source = new Audio(fol_source)
  // load audio data

  source.onloadedmetadata = function(){
    // calculate duration of the source
    var s_duration = source.duration * 1000
    // recording
    startRecording(start_rec, stop_rec)
    // play
    source.play()
    // stop recoring after the duration of source
    // set endplaying function

    source.onended = function(event) {
      stopRecording(start_rec, stop_rec)
      //recorder.clear();
      document.getElementById("add").disabled = false;
    }
  }
}

/**************************** Submit and Adding recording ******************************/
function add(add_btn) {
  var $btn = $(add_btn).button('loading')
  var formData = new FormData();
  formData.append('id', voice_id);
  rec.exportWAV(function(blob){
    formData.append('new_rec', blob, voice_id.toString()+'.wav');
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    //json_data = JSON.stringify(json_data)
    $.ajax({
      type:"POST",
      url: '/recording/ajax/align_voice/',
      data: formData,
      contentType: false,
      processData: false,
      success: function(response){
        console.log(response);
        if(response['success']){
          // var col = response['collective']+"?cb="+new Date().getTime();
          // var audio = new Audio(col);
          // audio.load();
          //location.replace('/recording/')
          window.location = self.location;
          location.reload(true); 
        }
        if (response['error']) {
          $btn.button('reset');
          $("#faild-mes").html(response['error']['comment']);
          $("#faild-alert").fadeTo(2000, 500).slideUp(500, function(){
                $("#faild-alert").slideUp(500);
          });
        }
      }
    })
  });
}


/*
**
**
  New Seed
*/
/********************************Load new_seed.html************************************/
// start & stop button
var start_seed;
var stop_seed;

$('#create').on('click', function () {
    getMediaAccess()
    var $btn = $(this).button('loading');
    // business logic...
    $("#newSeed").load("new_seed", function(){
      start_seed = document.getElementById("start_seed");
      stop_seed = document.getElementById("stop_seed");
      // var pauseButton = document.getElementById("pauseButton");

      //add events to those 2 buttons
      start_seed.addEventListener("click", seed_rec);
      stop_seed.addEventListener("click", seed_stop);

      // set default values of form 
      document.getElementById("title").defaultValue = "title_"+Date.now();
      document.getElementById("description").defaultValue = "Describe it to let people know more.";
      $btn.button('reset')
    });
    
})

/********************************Start_seed************************************/
function seed_rec(){
  startRecording(start_seed, stop_seed);
}

/********************************stop_seed************************************/
// click RECORD button
 function seed_stop(button) {
    stopRecording(start_seed, stop_seed);
    //recorder.clear();
    document.getElementById("seed_create").disabled = false;
  }
  
/********************************Submit & Create new seed************************************/
function create_seed(add_btn) {
  if (document.getElementById("image").files.length == 0) {
    $('#image_empty').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button> Please choose an image for your NChant! </div>');
  }else{
    var $btn = $(add_btn).button('loading')
    var form = document.getElementById('seed_form')
    var formData = new FormData(form);
    formData.append('count', 1)
    // formData.append('onset', 0.0)
    // formData.append('pub_date', $.now())
    rec.exportWAV(function(blob){
      formData.append('seed', blob, formData.get('title') +'_seed.wav');
      formData.append('collective', blob, formData.get('title') +'_col.wav');
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      //json_data = JSON.stringify(json_data)
      $.ajax({
        type:"POST",
        url: '/recording/ajax/create_seed/',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response){
          console.log(response);
          if(response['success']){
            location.reload(true, function(){
              $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(500);
              });
            })
          }
          if (response['error']) {
            $btn.button('reset');
            $("#faild-mes").html(response['error']['comment']);
            $("#faild-alert").fadeTo(2000, 500).slideUp(500, function(){
              $("#faild-alert").slideUp(500);
            });
          }
        }
      })
    });
  }
}
</script>
{% endblock %}